extends indexCommon	

block sub_content
	.server-has-img 产品说明文档
	.product-explain-document
		span 产品说明文档分类 ：
		select.form-control#download-type
			- for(var i=0;i<data.classType.length;i++)
				option #{data.classType[i]}
		span(style='margin-left:10px;') 
			a(href='/admin/addDownloadClass') 添加分类
	#upload-container
	.product-document-container
		span.product-explain-select 选择文件
			input.hidden#uploads(type='file')
		span.product-explain-save#product-explain-save 提交
	.server-has-img 产品手册
	#product-documents
	.product-handlebook-container
		span.product-handlebook-select 选择文件
			input.hidden#handlebook-uploads(type='file')
		span.product-explain-save#product-handlebook-save 提交
block sub-js
	script(src='/javascripts/admin_download.js')