doctype html
html
  head
    title 易卖会
    link(rel='stylesheet', href='/stylesheets/admin/style.css')
  body
    block content
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/config.js')
    block sub-js
