doctype html
html
  head
    title 南京安崇电子有限公司
    link(rel='stylesheet', href='/stylesheets/admin/common.css')
    block sub-css
  body
    block content
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/config.js')
    script(src='/javascripts/admin_index.js')    	
    block sub-js
