extends indexCommon

block sub_content
	.server-has-img 技术文章
	#support
	.product-document-container
		span.product-explain-select 选择文件
			input.hidden#support-uploads(type='file')
		span.product-explain-save#support-save 提交
		a.product-explain-save(href='/admin/manageArticle') 管理
	.server-has-img 产品命名规则
	div.addImageContainer(style='margin-top:20px;')
		div.addImage 新增规则
		input#upload(type="file")
	div.preview-container
		.preview-title 效果预览图	:
		.preview-img-container
		.upload-file#btn 确认上传
	.server-has-img 线上已有规则图
	div.imgs-container
		- if(data.data)
			- if(data.data.length>0)
				- for(var i=0;i<data.data.length;i++)
					div.lists-container
						div.banner-conatiner-data(style='border-bottom:dashed #666 1px;')
							img.banner-data-url(src='#{data.data[i].filePath}')
						div.go-where
							div.go-right-actions
								span.del.common-style(data-id="#{data.data[i]._id}") 删除
	div.loading
		div.loading-gif
			img(src="/images/load.gif")

block sub-js
	script(src='/javascripts/admin_support.js')