extends layout
block sub-css
	link(rel='stylesheet', href='http://cache.amap.com/lbs/static/main.css?v=1.0')
block title
	title #{data.title}

block content
	.contact-content
		.contact-content-top
			.null-div
			.map-title#map-title-maps 地图查找
			.map-alias MAP SEARCH
			.line
				img(src='/images/contact_underline.png')
			.setmaps
				#mapContainer
				#tip
					input(type="text" id="keyword" class="input" name="keyword" value="请输入关键字：(选定后搜索)" onfocus='this.value=""')
					input(type="button" value="查找路线" onClick="show(this)")
				#panel
			.null-div
			.map-title#map-title-contact 联系方式
			.map-alias CONTACT INFORMATION
			.line
				img(src='/images/contact_underline.png')
			.contact-detail-container
				ul
					li.contact-address(style='margin-left:0px')
						.contact-addree-icon
						.contact-addree-detail
							p 地址:江苏省南京市江宁区
							p 东麒路33号东山国际企业研发园4楼
					li.contact-tel
						.contact-tel-icon
						.contact-tel-detail
							p 电话 ：+86-25-58817997
					li.contact-email
						.contact-email-icon
						.contact-email-detail
							p 邮件：sales@arance-rf.com( 销售 )
							p tech@arance-rf.com( 技术支持 )
block sub-js
	script(src='http://webapi.amap.com/maps?v=1.3&key=caaa086bdf5666322fba3baf5a6a2c03')
	script(src="http://webapi.amap.com/demos/js/liteToolbar.js")
	script(src='/javascripts/contact.js')
