extends layout
block title
  title #{data.title} 
block sub-css
  link(rel='stylesheet', href='/stylesheets/index.css') 
block content
  .setnames#setnames
    .name
      .allheads.theme2
        h2 产品命名规则
        p PRODUCT CATEGORY
      ul.namefor
        - if(data.rules.length>0)
          - for(var i=0;i<data.rules.length;i++)
            li
              img(src='#{data.rules[i].filePath}', alt='')
              div
                h2 通用规则
                p 点击查看
    .overwhach
      img(src='images/shutdown.png', alt='')
      img(src='images/index_product1.png', alt='')
  .diy#diy
    .allheads.theme1
      h2 维修和定制业务
      p REPAIR AND CUSTOM SERVICE
    .diy-main
      dl
        dt.diy-down 电缆组件维修业务
        dd
          p
            | ● VNA test cable assembly maintenance: the installation of an electronic VNA cable components to provide warranty and repair services. Can also repair the company's other companies VNA test cable components.
            br
            | 			● Commonly used test cable assembly maintenance: maintenance of the company's test cables, and provide test cables to shorten the transformation。
      dl
        dt Calibration parts maintenance service
        dd
          p ● Provide maintenance service to the calibration of the company, or provide a piece of calibration to solve the problem。
      dl
        dt Custom business
        dd
          p
            | ● Provide a variety of test fixtures and accessories for customized service。
            br
            |  			● Provide the cable assembly foundry service, provide the bare cable, the installation and testing of the cable assembly according to the customer request.。
  .download#download
    .allheads
      h2 技术文章
      p TECHNICAL ARTICLE
    .downloadtext
      section.buttons
        .container
          div
            - if(data.supportData.length>0)
              - for(var i=0;i<data.supportData.length;i++)
                a.btn.btn-4(href='#{data.supportData[i].filePath}')
                  span #{data.supportData[i].fileName}
block sub-js
  script(src='/javascripts/support.js')
